{% extends "registration/base.html" %}

{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- Page Content -->


        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <title>Password Reset Complete</title>

                <div class="container text-center">
                    <h3 class="mt-4">Password Reset Complete</h3>
                    <p>Your password has been reset. Please <a href="login_page">login now.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
