{% extends "registration/base.html" %}

{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- Page Content -->


        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <title>Recovery Email Sent</title>

                <div class="container text-center">
                    <h3 class="mt-4">Recovery Email Sent</h3>
                    <p>A Recovery Email has been sent to your Email ID, if it exists.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
