{% extends "base.html" %}

{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- Page Content -->


        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <title>Change Password Successful</title>

                <div class="container">
                    <h3 class="text-center mt-4">Password Change Successful</h3>
                    <p class="text-center mt-4">Your password has been changed successfully</p>
                    <p class="text-center mt-4"><a href="/">Dashboard</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
