<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load auth_extras %}
{% include 'singlepage/links.html' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="VDocs - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="V-Group - Repository Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>V-Docs</title>
    <style>
        #display1, .flip {
            font-size: 16px;
            padding: 10px;
            text-align: center;
            color: white;
            margin: auto;
        }

        #display1 {
            display: none;
        }
    </style>
</head>

<body>
<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Header -->
    <div class="header">
        <!-- Logo -->
        <div class="header-left">
            <div href="" class="float-left logo">
                <a href="singlepage">
                    <img src="{% static 'assets/img/logo.png' %}" width="60" height="40" alt="">
                </a>
            </div>
        </div>
        <!-- /Logo -->

        <!-- Header Title -->
        <div class="page-title-box" style="font-weight: bold">
            <h3>V-Doc's</h3>
        </div>
        <!-- /Header Title -->

        <!-- Header Menu -->

        <ul class="nav user-menu">
            <li class="nav-item dropdown has-arrow main-drop">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                    {% if request.user|has_group:"Employee" %}
                                        <img class="avatar" src="{{ user.employee.profile_pic }}" alt="">
                                        {{ user.username }}
                                        <span class="text-muted"
                                              style="font-size: 10px;font-weight: bold;">Employee</span>
                                    {% else %}
                                        <img src="{% static 'assets/img/profiles/avatar-1.png' %}" alt="">
                                        {{ user.username }}
                                        <span class="text-muted" style="font-size: 10px;font-weight: bold;">Admin</span>
                                    {% endif %}
                                </span>
                </a>
                <div class="dropdown-menu">
                    {% if user.is_superuser %}
                        <a class="dropdown-item" href="#/Employee_list" onclick="divVisibility('Div4')">Employee</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'proofile_page' %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
                </div>
            </li>
        </ul>
        <!-- /Header Menu -->

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                {% if user.is_superuser %}
                    <a class="dropdown-item" href="#/Employee_list" onclick="divVisibility('Div4')">Employee</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'proofile_page' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
            </div>
        </div>
        <!-- /Mobile Menu -->
    </div>


    <!-- /Header -->
    <!-- Page Content -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Projects</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/dashboard" onclick="divVisibility('Div3')"
                                                           class="btn-link">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Projects</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a href="#/create_project" type="button" class="btn add-btn" onclick="divVisibility('Div5')">
                            <i class="fa fa-plus"></i> Create Project
                        </a>

                        <div class="modal bs-modal custom-modal fade" tabindex="-1" role="dialog" id="add-modal">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content"></div>
                            </div>
                        </div>

                        <div class="view-icons">
                            <a href="#/card_view" onclick="divVisibility('Div2')" class="grid-view btn btn-link"><i
                                    class="fa fa-th"></i></a>
                            <a href="#/list_view" onclick="divVisibility('Div1')" class="list-view btn btn-link"><i
                                    class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'singlepage/list.html' %}
            {% include 'singlepage/card.html' %}
            {% include 'singlepage/dashboard.html' %}
            {% include 'singlepage/employee list.html' %}
            {% include 'singlepage/create project.html' %}
            {% include 'singlepage/update_project.html' %}
{#            {% include 'singlepage/detail.html' %}#}

        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- /Main Wrapper -->

{#js onclick#}
<script>
    var divs = ["Div1", "Div2", "Div3", "Div4", "Div5","Div6","Div7"];
    var visibleDivId = null;

    function divVisibility(divId) {
        if (visibleDivId === divId) {
            visibleDivId = null;
        } else {
            visibleDivId = divId;
        }
        hideNonVisibleDivs();
    }

    function hideNonVisibleDivs() {
        var i, divId, div;
        for (i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);
            if (visibleDivId === divId) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    }
</script>

</body>
</html>