{% include 'base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
    <!-- Page Wrapper -->
    <div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Users</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employee's List</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="{% url 'Employee_reg' %}" class="btn add-btn bs-modal">
                        <i class="fa fa-plus"></i> Create Employee</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="example" class="table table-striped custom-table text-center">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Employee Id</th>
                            <th>Profile Picture</th>
                            <th>Employee Name</th>
                            <th>Email</th>
                            <th>MobileNo.</th>
                            <th>Date Of Join</th>
                            {% if user.is_superuser %}
                                <th>Status</th>
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in employee %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ a.user.id }}</td>
                                {% if a.profile_pic %}
                                    <td><img src="{{ a.profile_pic.url }}"
                                             style="width: 50px;height: 50px;border-radius: 100px"></td>
                                {% else %}
                                    <td><img src="{% static 'assets/img/profiles/avatar-1.png' %}"
                                             style="width: 50px;height: 50px;border-radius: 100px"></td>
                                {% endif %}
                                <td>{{ a.user.username }}</td>
                                <td>{{ a.user.email }}</td>
                                <td>{{ a.phone_no }}</td>
                                <td>{{ a.date_of_join }}</td>
                                {% if user.is_superuser %}
                                    <td>
                                        <div class="dropdown">
                                            {% if a.user.is_active == True %}
                                                <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                   style="color: #0ba408" data-toggle="dropdown" aria-expanded="false">Active</a>
                                            {% else %}
                                                <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                   style="color: red" data-toggle="dropdown" aria-expanded="false">Inactive</a>
                                            {% endif %}
                                            <div class="dropdown-menu">
                                                <a style="color: #0ba408" class="dropdown-item"
                                                   href="/update_status/1/{{ a.user.id }}">Active</a>
                                                <a style="color: red" class="dropdown-item"
                                                   href="/update_status/0/{{ a.user.id }}">Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div class="dropdown dropdown-action">
                                            <div class="modal custom-modal fade" tabindex="-1" role="dialog" id="modal">
                                                <div class="modal-dialog modal-dialog-centered modal-lg"
                                                     role="document">
                                                    <div class="modal-content"></div>
                                                </div>
                                            </div>
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">

                                                <!-- Update project buttons -->
                                                <a type="button" class="update-project  bs-modal dropdown-item "
                                                   href="{% url 'employee_update' a.id %}">
                                                    <i class="fa fa-pencil m-r-5"></i> Edit</a>

                                                <!-- Delete project buttons -->
                                                <a type="button" class="delete-project bs-modal dropdown-item "
                                                   data-toggle="modal"
                                                   data-target="#delete_project">
                                                    <i class="fa fa-trash-o m-r-5"></i> Delete</a>

                                            </div>
                                        </div>
                                    </td>
                                    <div class="modal fade" id="delete_project" data-backdrop="static" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="staticBackdrop" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content"
                                                 style="width: 800px;right:25%;border-radius: 10px">
                                                <div class="modal-body">
                                                    <div class="form-header">
                                                        <h3>Delete Project</h3>
                                                        <div class="modal-body">
                                                            <p>Are you sure want to delete project with title
                                                                <strong>{{ a.user.username }}</strong>?</p>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="modal-btn delete-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <a href="{% url 'delete_employee' a.user.id %}"
                                                                       type="button"
                                                                       class="btn btn-primary continue-btn">Delete
                                                                    </a>
                                                                </div>
                                                                <div class="col-6">
                                                                    <a href="javascript:void(0);" data-dismiss="modal"
                                                                       class="btn btn-primary cancel-btn">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
{% endblock content %}
<script type="text/javascript">
    $(function () {

        // Read book buttons
        $(".update-project").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});

        });

        // Delete book buttons - formURL is retrieved from the data of the element
        $(".delete-project").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});

        });

        // Create book button opens form in modal with id="create-modal"
        $("#add-project").modalForm({
            formURL: "{% url 'add_project' %}",
            modalID: "#add-modal"
        });

    });


</script>

</div>
<!-- /Page Wrapper -->
