{% load static %}
{% include 'base.html' %}
{% load auth_extras %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Welcome V-Group !</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/Homepage">
                            <div class="card dash-widget">
                                <div class="card-body">
                                    <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                                    <div class="dash-widget-info">
                                        <h3>{{ data.count }}</h3>
                                        <span>Projects</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="#">
                            <div class="card dash-widget">
                                <div class="card-body">
                                    <span class="dash-widget-icon"><i class="fa fa-file"></i></span>
                                    <div class="dash-widget-info">
                                        <h3>{{ data2.count|add:data2.count }}</h3>
                                        <span>Total Files</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="#">
                            <div class="card dash-widget">
                                <div class="card-body">
                                    <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="dash-widget-info">
                                        <h3>{{ data2.count|add:data2.count }} MB</h3>
                                        <span>Files Size</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="card dash-widget">
                            <a href="Employee_list_page">
                                <div class="card-body">
                                    <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                                    <div class="dash-widget-info">
                                        <h3>{{ data4.count }}</h3>
                                        <span>Employees</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Recent Projects</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table custom-table mb-0">
                                        <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Progress</th>
                                            <th class="text-right">Author</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in data|slice:'0:5' %}
                                            <tr>
                                                <td>
                                                    <h2><a href="{% url 'project_details' i.id %}">{{ i.title }}</a>
                                                    </h2>
                                                    <small class="block text-ellipsis">
                                                        {#                                                    <span>Author</span> <span class="text-muted">{{ i.Author }}</span>#}
                                                        <span>Date</span> <span
                                                            class="text-muted">{{ i.start_date }}</span>
                                                    </small>
                                                </td>
                                                <td>
                                                    <div class="progress progress-xs progress-striped">
                                                        <div class="progress-bar" role="progressbar"
                                                             data-toggle="tooltip"
                                                             title="{{ i.work_progress }}%"
                                                             style="width: {{ i.work_progress }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <h2>{{ i.Author }}</h2>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="/Homepage">View all projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Employees</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table custom-table mb-0">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Employee Id</th>
                                            <th class="text-right">Remark</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in data4|slice:'0:5' %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#" class="avatar"><img alt=""
                                                                                        style="height: 100%"
                                                                                        src="{{ i.profile_pic }}"></a>
                                                        <a href="#">{{ i.user.first_name }} <span></span></a>
                                                    </h2>
                                                </td>
                                                <td>{{ i.user.email }}</td>
                                                <td>{{ i.id }}</td>

                                                <td class="text-right">
                                                    <h2>{{ i.remark }}</h2>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="/Employee_list_page">View all Employees</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    </body>
    </html>
{% endblock %}