{% load static %}

{% include 'basemodal.html' %}


<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">

        <div class="container">

            <!-- Account Logo -->
            <div class="account-logo">
                <a><img src="{% static 'assets/img/logo.png' %}" width="50" height="50" alt="V-Group"></a>
            </div>
            <!-- /Account Logo -->

            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Login</h3>
                    <p class="account-subtitle">Access to V-Doc's</p>

                    <!-- Account Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>User Name</label>
                            <input class="form-control" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" name="password" type="password">
                            <div class="float-right row"><br>
                                <div class="col-auto">
                                    <a class="text-muted" href="password_reset">
                                        Forgot password?
                                    </a>
                                </div>
                            </div>
                        </div><br>

                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Login</button><br>
                            <div class="float-right row">
                                <div class="col-auto">
                                    <a class="text-muted" href="register_request">
                                    Request for register</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /Account Form -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->